
body { 
    font-family: Arial, sans-serif; 
    margin-left: 150px; 
    padding: 0; 
    background-color: #f4f4f4;
} 

header h1 { 
    margin: 5px;
    height: 120px;
    padding-top: 50px;
    color: green;
    text-align: center;
} 
.navbar-left { 
    position: fixed; 
    left: 0; top: 0; 
    width: 150px; 
    height: 100%; 
    background-color: #afa085; 
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
    font-weight: bold;
} 
.navbar-left ul { 
    list-style-type: none; 
    padding: 0; 
} 
.navbar-left li { 
    margin: 10px 0; 
} 
.navbar-left a { 
    text-decoration: none; 
    color: #4052af; 
    display: block; 
    padding: 10px; 
    border-radius: 4px; 
} 
.navbar-left a:hover {
    background-color: #ddd; 
} 
main { 
    padding: 2rem; 
} 
h2{
    font-size: 40px;
    text-align:center;
    margin-top: 20px;
}
h3{
    text-align:center;
}
section { 
    margin-bottom: 2rem; 
} 
p {
    background-color: rgb(242, 242, 186);
    text-align: center;
    margin-left: 50px;
}
img {
   width:500px;
   height:500px;
   margin: 30px 500px 30px 500px;
   align-items: center;
}
video {
    width:500px;
    height:500px; 
    margin: 30px 500px 30px 500px;
}
footer { 
    background-color: #f3c86b; 
    color: #fff; 
    text-align: center;   
    width: 100%;
    bottom: 0; 
}
footer h3 {
    padding-top: 20px;
}
footer p {
    color: black;
    text-align:center;
}